.logo {
    cursor: pointer;
    text-align: center;
    line-height: 25.5px;
}

.logo svg {
    width: 190px;
}

@media print, screen and (min-width: 47.5em) {
    .logo {
        margin-bottom: 1em;
        margin-top: 1em;
    }
}