.whoweare__container {
	background: var(--light-gray);
	padding: 4em 1em 1em 1em;
}

.whoweare__container--staff {
	padding-bottom: 4em;
}

.person-container {
	position: relative;
	margin-bottom: 30px;
}

.whoweare__container h1 {
	text-align: center;
	font-size: 2rem;
	margin-top: 1rem;
	font-weight: 900;
	font-family: "Raleway", sans-serif;
	color: var(--gray);
	line-height: 1.4;
	margin-bottom: 0.5rem;
}

.whoweare__container hr {
	width: 100px;
	border-bottom: 5px solid var(--orange);
	max-width: 75rem;
	height: 0;
	margin: 1.25rem auto;
	border-top: 0;
	border-right: 0;
	border-left: 0;
}

.whoweare__container p {
	margin-bottom: 1rem;
	line-height: 1.6;
}

.inner-div {
	position: relative;
}

.inner-div img {
	transition: all 0.5s;
	max-width: 100%;
	height: auto;
	display: inline-block;
}

.person-container .inner-div-text {
	transition: all 0.25s;
}

.inner-div-text h5 {
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 28px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 0 20px;
	color: #fff;
	transition: all 0.5s;
	background: var(--orange);
	width: 100%;
	display: block;
}

@media print, screen and (min-width: 62.5em) {
	.staff {
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		max-width: 1000px;
	}
	.person-container {
		flex-basis: 300px;
		overflow: hidden;
		margin-bottom: 0;
	}

	.person-container .inner-div img {
		object-fit: cover;
		max-width: 100%;
		height: auto;
		vertical-align: middle;
	}

	.person-container .inner-div img:hover ~ .inner-div-text,
	.inner-div-text:hover {
		opacity: 1;
	}

	.person-container .inner-div img:hover ~ .inner-div-text h5,
	.inner-div-text:hover h5 {
		bottom: 0px;
	}

	.inner-div-text {
		opacity: 0;
	}

	.person-container h5 {
		bottom: -100%;
	}
}
