/* Apply Now styles */

.apply-now {
	background-color: rgb(240, 240, 240);
	margin: 4em auto 1em;
	padding: 0 1em;
}

.apply-now h1 {
	text-align: center;
	font-family: "Raleway", sans-serif;
	font-weight: 900;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	font-size: 2rem;
	line-height: 1.4;
}

.apply-now .input-group {
	margin-bottom: 0.5em;
}

.apply-now input {
	margin-bottom: 0;
	width: auto;
}

.apply-now input[type="text"] {
	width: 100%;
}

.apply-now select {
	height: 44px;
	display: block;
	width: 100%;
	font-size: 17px;
	resize: verical;
	border: 1px solid rgba(34, 36, 38, 0.15);
	border-radius: 4px;
	background-color: var(--white);
}

.apply-now textarea {
	display: block;
	width: 100%;
	padding: 0.5em;
	height: initial;
	font-size: 17px;
	border: 1px solid rgba(34, 36, 38, 0.15);
	border-radius: 4px;
	background-color: var(--white);
}

.apply-now a:not(.checkbox-radio a) {
	display: inline-block;
	border: 2px solid var(--turquoise);
	border-radius: 3px;
	padding: 0.75em 1.5em;
	font-weight: 700;
	text-transform: uppercase;
	transition: all 0.25s;
	font-family: "Lato", sans-serif;
}

.apply-now a.button {
	color: var(--turquoise);
	border-color: var(--turquoise);
	font-size: 1rem;
}

.add-project-button {
	text-align: center;
}

.add-project {
	margin-bottom: 30px;
	margin-top: 0;
}

.form-error {
	display: none;
}

.full-group {
	margin-bottom: 15px;
}

.checkbox-radio {
	display: inline-block;
	margin-bottom: 0.25rem;
	padding-left: 1.5rem;
	position: relative;
	width: auto;
}

.apply-now .input-group {
	display: flex;
}

.apply-now .input-group a {
	color: var(--orange);
	text-decoration: underline;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 17px;
}

.apply-now .primary-button {
	margin-bottom: 5em;
	margin-top: 2em;
	background-color: var(--orange);
	border: none;
	color: var(--white);
	font-weight: 700;
	text-transform: uppercase;
	transition: all 0.25s;
}

.apply-now .full-group.text-center {
	text-align: center;
}

.apply-now select {
	padding: 0.5em;
}

.apply-now input#email,
.apply-now input#phone,
.apply-now input[type="file"] {
	width: 100%;
}

/* Media queries */

@media print, screen and (min-width: 47.5em) {
	.apply-now {
		max-width: 600px;
	}
	.name-group,
	.link-group,
	.projects-group {
		display: flex;
	}

	.group-half {
		flex: 1;
	}

	.input-group.first:not(.select):not(.linked-in),
	.label-group.first:not(.select):not(.linked-in) {
		padding-right: 0.5em;
	}

	.input-group.last,
	.label-group.last {
		padding-left: 0.5em;
	}

	.label-group {
		font-size: 14px;
		font-weight: 400;
	}

	input[type="file"] {
		width: 100%;
	}

	.apply-now input#email,
	.apply-now input#phone {
		width: 100%;
	}

	.apply-now input#linkedin-link {
		width: 50%;
	}

	.input-group.first.linked-in {
		margin-right: 1em;
	}

	.apply-now form h4 {
		margin: 1.25rem 0 0;
		font-weight: 400;
		color: #363636;
		font-size: 1.5625rem;
		line-height: 1.4;
		font-family: Raleway, sans-serif;
	}

	.apply-now textarea#project-details {
		height: initial;
	}

	.apply-now a.add-project:hover {
		text-decoration: none;
		background-color: var(--turquoise);
		color: #fff;
	}
}
