.job-detail-container {
	padding: 1em 2em 2em;
	background: #fff;
	border-radius: 5px;
	margin-bottom: 5em;
	margin: 4em auto 1em;
}

h1.job-details-title {
	background: var(--orange);
	padding: 0.125em 0.35em;
	display: inline-block;
	letter-spacing: -1px;
	color: var(--white);
	margin-bottom: 0.5em;
}
