.icons {
	margin: 0 auto;
	padding: 0 1em;
}

.icons h2 {
	display: block;
	flex: 0 0 100%;
	margin-bottom: 1em;
	font-size: 1.45rem;
	margin-top: 2rem;
}

.icon-flex {
	display: flex;
	margin: 0 auto;
	width: 55%;
	max-width: 1000px;
}

.middle-tile {
	margin: 0 25px;
}

@media screen and (min-width: 680px) {
	.icon-flex {
		flex-direction: column;
		width: auto;
	}

	.middle-tile {
		margin: 0;
	}
}

@media screen and (min-width: 62.5em) {
	.icon-flex {
		flex-direction: row;
	}
	.middle-tile {
		margin: 0 25px;
	}
}
