:root {
  --orange: #f26823;
  --blue: #05121a;
  --menu-hover: #003454;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.15;
}

body {
  background: #fff;
}

.App {
  
}