ul.benefits-list {
	list-style-type: none;
	padding: 0 1em;
	margin-left: 0;
}

ul.benefits-list li {
	margin-bottom: 14px;
}

ul.benefits-list li svg {
	color: var(--orange);
	font-size: 28px;
}

ul.benefits-list .icon-list-item p {
	padding-left: 30px;
	margin-bottom: 0;
}

@media print, screen and (min-width: 46.5em) {
	.icon-list-item:hover a {
		text-decoration: underline;
	}
}
